*{ 
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
    overflow: hidden;
    overflow: auto;
    font-family: 'Open sans', sans-serif;
   
  }
  
  header {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #ffffff; /* Cor de fundo da header */
    color: #ffffff; /* Cor do texto */
    padding: 10px; /* Ajuste o espaçamento interno conforme necessário */
    position: fixed; /* Fixa a header no topo */
    top: 0; /* Garante que fique no topo */
    left: 0; /* Começa no lado esquerdo */
    width: 100%; /* Faz a header ocupar toda a largura */
    z-index: 1000; /* Fica acima de outros elementos */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */
    
  }
  
  .logo img {
    width: 200px;
    height: 60px;
    margin-left: 80px;
  
  }

main {
    padding: 20px;
    text-align: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    margin-left: 20px;
    text-align: center;
    gap: 15px; /* Ajustando para melhor espaçamento */
  }
  
  
  .nav-menu a {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
    
  }
  
  .nav-menu a:hover{
    text-decoration: underline;
  }

.cta-button2:hover {
    background-color: #011d01;
    transform: scale(1.05);
  }
  
  .cta-button2 {
    box-sizing: border-box;
  display: inline-block;
  font-weight: 3px;
  font-size: 17px;
  background-color: #0F8F0F;
  color: #ffffff;
  padding: 16px 40px;
  text-decoration: none;
  border-radius: 37px;
  transition: 0.4s;
  font-weight: bold;
  }

.ticket-management {
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket-management h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #0d730d;
    text-align: center;
}

.ticket-management .options {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ticket-management .option {
    text-align: center;
    background-color: #0d730d;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse; /* Inverte a ordem do texto e da imagem */
    align-items: center;
    gap: 10px; /* Espaçamento entre texto e imagem */
    transition: 0.5s;
}

.ticket-management .option:hover{
  transform: scale(1.1);
}

.ticket-management .option p {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}


.ticket-management .option img {
    cursor: pointer;
    width: 150px;
    height: 130px;
    margin-bottom: 10px;
}

.ticket-management .option p { 
    display: grid;
    margin: 10px 0 0;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #0d730d;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer .footer-section {
    width: 30%;
}

footer .footer-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .footer-section input {
    padding: 10px;
    border: none;
    border-radius: 4px;
}

footer .footer-section button {
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #0d730d;
    font-weight: bold;
}

footer .footer-section button:hover {
    background-color: #e0e0e0;
}


.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #13290d;
    overflow-y: hidden;
    transition: 0.5s;
    width: 300px;
    padding-top: 80px;
  }
  
  .sidebar a {
    padding: 8px 8px 15px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fcf7f7;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidebar .cta-button3 {
          box-sizing: border-box;
            display: inline-block;
            font-weight: 3px;
            font-size: 17px;
            margin-top: 10px;
            margin-left: 25px;
            background-color: #0F8F0F;
            color: #000000;
            padding: 12px 80px;
            text-decoration: none;
            border-radius: 37px;
            transition: 0.4s;
            font-weight: bold;
        }
  
  .openbtn {
    display: none; /* Esconde o botão por padrão */
  }
  .openbtn:hover{
    background-color: #ffffff;
  }

  .footer {
    background-color: #2D6921;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
  }
  
  .footer div {
    text-align: center;
  }
  
  .footer h2, .footer h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .footer p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .footer .social-icons {
    display: inline-block; /* Alinha os itens horizontalmente */
    justify-content: center; /* Centraliza os ícones */
    gap: 15px; /* Espaçamento entre os ícones */
    margin-top: 10px;
    transition:  0.4s;
  
  }
  
  .footer .social-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    transition: 0.4s;
  
  }
  
  .footer .social-icons:hover{
    transform: scale(1.3);
    transition: 0.4s;
  
  }
  
  .footer .contact input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
  }
  
  .footer .contact button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0F8F0F;
    color: #FFFFFF;
    cursor: pointer;
    transition:  0.4s;
  
  }
  
  .footer .contact button:hover {
    background-color: #011d01;
    transition: 0.4s;
  }
  
  
  @media (max-width: 768px) {
    .logo img{
      margin: auto;
  }

    .openbtn {
      display: block; /* Torna o botão visível */
      background-color: #ffffff; /* Estilo do botão */
      color: #000000; /* Cor do texto do botão */
      padding: 20px 40px; /* Tamanho do botão */
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

  @media (min-width: 768px) {
    .sidebar{
      display: none;
    }
    
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidebar {padding-top: 15px;}
            .sidebar a {font-size: 18px;}
        }
  
        
       @media (max-width: 768px) {
        .services2{
           grid-template-columns: 1fr;
        }

        .logo img{
          margin: auto;
        }

        .ticket-management .options {
          flex-direction: column; /* Alinha os tickets em uma coluna */
          gap: 9px; /* Ajusta o espaçamento entre os itens */
      }
  
        
      .nav-menu {
        display: none; /* Esconde o menu inicialmente */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
    }
            
            .cta-button2{
                display: none;
            }
  
            .footer {
                flex-direction: column; /* Empilha os itens verticalmente */
                padding: 0px 20px; /* Ajusta o padding */
              }
            
              .footer div {
                margin: 20px 0; /* Espaçamento maior entre os elementos */
              }
            
              .footer .social-icons a {
                font-size: 24px; /* Aumenta o tamanho dos ícones em telas menores */
              }
            
              .footer .contact input {
                width: 100%; /* O input ocupa toda a largura disponível */
              }
  
        }