*{ 
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Qestrial', sans-serif;
  overflow: hidden;
  overflow: auto;
  font-family: 'Open sans', sans-serif;
}
 
  header {
      align-items: center;
      justify-content: space-between;
      display: flex;
      background-color: #ffffff; /* Cor de fundo da header */
      color: #ffffff; /* Cor do texto */
      padding: 10px; /* Ajuste o espaçamento interno conforme necessário */
      position: fixed; /* Fixa a header no topo */
      top: 0; /* Garante que fique no topo */
      left: 0; /* Começa no lado esquerdo */
      width: 100%; /* Faz a header ocupar toda a largura */
      z-index: 1000; /* Fica acima de outros elementos */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra sutil */

  }
  
  header img {
      height: 50px;
      cursor: pointer;
  }
  
  .profile {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
  }
  
  .profile img {
      height: 40px;
      border-radius: 50%;
  }



.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0)), 
  url(https://www.regional360.com.br/images/noticias/4635/72e4e1b23135dd6c22a3eb6eea9b63a8.jpeg);    background-size: cover; /* Mantém a imagem cobrindo a área */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; /* Define a altura como metade da viewport */
  color: white; /* Para garantir que o texto seja visível */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adiciona sombra ao texto para contraste */
  padding-left: 10px; /* Ajusta o espaço interno da header */
  background-attachment: fixed;
}


.hero-text {
  text-align: center;
  padding: 20px;
}

.hero-text h1 {
  font-size: 48px; /* Ajuste para o tamanho desejado */
  font-weight: 700;
  margin: 0;
}

.hero-text p {
  font-size: 17px;
  font-weight: 400;
  margin: 10px 0 20px 0;
}

.cta-button {
  display: inline-block;
  font-weight: 300;
  font-size: 17px;
  background-color: #0F8F0F;
  color: #ffffff;
  padding: 20px 60px;
  text-decoration: none;
  border-radius: 37px;
  transition: 0.4s;
  font-weight: bold;
}

.cta-button2:hover {
  background-color: #011d01;
  transform: scale(1.05);
}

.cta-button2 {
  box-sizing: border-box;
  display: inline-block;
  font-weight: 3px;
  font-size: 17px;
  background-color: #0F8F0F;
  color: #ffffff;
  padding: 16px 40px;
  text-decoration: none;
  border-radius: 37px;
  transition: 0.4s;
  font-weight: bold;
 
}


.cta-button:hover {
  background-color: #011d01;
  transform: scale(1.05);
}

.nav-menu {
  position: absolute;
  left: 50%;
  margin-top: -12px;
  transform: translateX(-40%);
  display: flex;
  gap: 15px;
}


.nav-menu a {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  
}

.nav-menu a:hover{
  text-decoration: underline;
}

.about {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.about h2 {
  max-width: 100%;
  margin: 100px auto 20px auto;
  padding: 30px;
  color: #1d1e20;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: center; /* Centraliza o texto */
}

.about h3, 
.about h4 {
  color: #1d1e20;
  font-size: 20px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
}

.about p {
color: rgb(86, 88, 94);
font-size: 18px;
font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
line-height: 1.5;
margin-top: 10px;
}

.about .content {
display: flex;
flex-wrap: wrap;
justify-content: space-between; /* Maior espaçamento entre os blocos */
gap: 40px; /* Espaço entre os blocos de "Nossa missão" e "Nossos serviços" */
text-align: center; /* Centralizar o conteúdo */
}


.about .content div {
flex: 1 1 45%; /* Ajustar largura para um melhor layout */
text-align: center; /* Centralizar os títulos e os parágrafos */
}

.about .main-image {
  width: 80%;
  border-radius: 20px;
  margin-top: 20px;
}

.container {
  text-align: center;
  padding: 40px;
  background-color: #8FE98F; /* Cor de fundo */
  margin-top: 40px;

}

.container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.container p {
  font-size: 18px;
  margin-bottom: 30px;
}

.services2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
}

.service {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  padding: 30px;
  width: 90%;
  transition: transform 0.3s;
  
}

.service:hover {
  transform: scale(1.05);
}

.service img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.service h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}
.service h1 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}
.service h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.service p {
  font-size: 14px;
  color: #666;
}

.service button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color:#0F8F0F;
  color: #ffffff !important;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}


.service button:hover {
  background-color: #011d01;
  transition: 0.3s;
}

.contact-section {
  padding: 50px;
  background-color: #ffff;
}

.contact-header {
  text-align: center;
  margin-bottom: 30px;
}

.contact-header h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 1rem;
  color: #666;
}

.contact-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffff;
  border-radius: 8px;
  overflow: hidden;
  border-radius: 30px;
}

.form-area {
  flex: 3 1 200px;
  padding: 15px 30px;
  background-color: #8FE98F;
}

.form-area label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
 
}

.form-area input,
.form-area textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.form-area .contact-button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #0F8F0F;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.form-area .contact-button:hover {
  transition: 0.5s;
  background-color: #1c3f1c;
}

.image-area {
  flex: 2;
  overflow: hidden;
  border-radius: 30px;
}

.image-area img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #2D6921;
 color: #FFFFFF;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 60px 0;
 width: 100%;

}
  
  .footer div {
    text-align: center;
  }
  
  .footer h2, .footer h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .footer p {
    margin-bottom: 15px;
    font-size: 14px;
  }
  
  .footer .social-icons {
    display: inline-block; /* Alinha os itens horizontalmente */
    justify-content: center; /* Centraliza os ícones */
    gap: 15px; /* Espaçamento entre os ícones */
    margin-top: 10px;
    transition:  0.4s;
  
  }
  
  .footer .social-icons a {
    display: inline-block;
    margin: 0 5px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    transition: 0.4s;
  
  }
  
  .footer .social-icons:hover{
    transform: scale(1.3);
    transition: 0.4s;
  
  }
  
  .footer .contact input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
  }
  
  .footer .contact button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0F8F0F;
    color: #FFFFFF;
    cursor: pointer;
    transition:  0.4s;
  
  }
  
  .footer .contact button:hover {
    background-color: #011d01;
    transition: 0.4s;
  }



@media (max-width: 768px) {

 .form-area{
  margin-left: 130px;
  border-radius: 20px;
 }

  .image-area img{
    display: none;
  }
  header .logo {
      cursor: pointer;
    margin: auto;
  }

 

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media (max-width: 768px) {
  
  .services2 {
      grid-template-columns: 1fr;
  }

  .about .content {
    flex-direction: column;
    align-items: center;
}

.about .content div {
    flex: 1 1 100%; /* Ocupar toda a largura em telas menores */
    text-align: center;
}

.about p {
    font-size: 16px;
    text-align: center;
}

  .footer {
      flex-direction: column;
  }
  
  .container{
    text-align: center;
  }

  .services2{
    margin-left: 30px;
    text-align: center;
  }
}
}